.gridContainerUl{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    
}
.gridContainerUl li{

    color: rgb(43, 131, 226);
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	margin: 20px;
	height: 250px;
	width: 250px;
}
.gridContainerUl  li:first-child img{
    height:auto;
    width:60px;
}
.gridContainerUl li:nth-child(4) img{
    height:auto;
    width:80px;

}
.gridContainerUl li:nth-child(5) img{
  height:auto;
  width:130px;

}
.gridContainerUl li:last-child img{
    height:auto;
    width:160px;

}

